.changeMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;

  &__input {
    all: unset;
    position: relative;
    width: calc(100% - 2em);
    font-size: 16px;
    padding: 1em;
    margin-bottom: 15px;
    background: #26272D;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}