.createChat {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .memberAdd {
    width: 300px;

    .listMembers {
      max-height: 100px;
      overflow: auto;
      list-style: none;
    }
  }

  .selectorTypes {
    text-align: center;
  }
}