.button {
  all: unset;
  height: 35px;
  color: #1D1E22;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: background-color .5s;
}

.green {
  background-color: #BDD2B6;

  &:hover {
    background-color: #d0f0c0;
  }
}

.orange {
  background-color: #F1E0AC;

  &:hover {
    background-color: #fae4a3;
  }
}

.red {
  background-color: #c65d61;

  &:hover {
    background-color: #da5c61;
  }
}