.app {
    width: 100%;
    min-width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1D1E22;
}

.chat {
    margin-bottom: 20px;
}

.chat header {
    display: flex;
    align-items: center;
}

.chat header img {
    margin-right: 10px;
}
